
.post-gallery-pictures {
  text-align: center;
}

.postgallery-del-button.button {
  margin-top: 1em;
}

.sortable-pics {
  margin-bottom: 1em;
}

.sortable-pics li {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  vertical-align: top;
  text-align: center;
}

.sortable-pics li img {
  max-height: 100%;
}

.sortable-pics .img-title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 11px;
  text-align: center;
  padding: 1px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

.imageupload-image {
  background-repeat: no-repeat;
  background-position: center;
  border: 4px dashed #ddd;
  position: relative;
  height: 150px;
  line-height: 150px;
  font-size: 24px;
  text-align: center;
  cursor: default;
  width: 100%;
}

.qq-upload-list {
  display: none;
}

.qq-upload-button {
  top: 50px;
  z-index: 1000;
}

.sortable-pics .del {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 0px 5px;
  color: #000;
}

.qq-upload-drop-area {
  display: block !important;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.sortable-pics .edit-details {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(../../../../../wp-includes/images/wpicons.png);
  background-position: 220px 20px;
}

.sortable-pics .details {
  position: absolute;
  padding: 5px;
  left: 25px;
  top: 25px;
  min-width: 400px;
  display: none;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 1000;
}

.sortable-pics .details input {
  width: 100%;
  background-color: #fff;
}

.sortable-pics .details textarea {
  width: 100%;
  height: 120px;
  background-color: #fff;
}

.sortable-pics .details.active {
  display: block;
}

.elementor-control-content .sortable-pics {
  margin-top: 1.5em;
}

.elementor-control-content .sortable-pics li {
  width: 115px;
  height: 115px;
  margin-bottom: 10px;
}

.pg-new-gallery {
  margin-top: 10px;
  width: calc(100% - 31px);
}

.elementor-button.pg-new-gallery-button {
  position: relative;
  top: -1px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.input-type-headline .field-label {
  font-size: 1.3em;
}

.media-group-headline {
  display: block;
  position: relative;
  margin-left: 0.5em;
}

.media-group-headline a {
  text-decoration: none;
}

.media-group-headline a.media-group-permalink {
  display: inline-block;
  margin-left: 0.5em;
}

.media-group-by-parent {
  position: relative;
  clear: left;
}

.media-group-by-parent .attachment .media-group-path {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  /*overflow: hidden;
  text-overflow: ellipsis;*/
  word-break: break-all;
  min-height: 6em;
}

.media-group-by-parent .attachment .media-group-path .media-filename {
  font-weight: bold;
}

.media-group-by-parent ul::after {
  content: '';
  display: block;
  clear: left;
}

.media-group-by-parent .attachment .media-group-label {
  position: absolute;
  top: 6px;
  right: 8px;
  padding: 0px 5px 0px 25px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
  z-index: 10;
}

.media-group-by-parent .attachment .media-group-label::before {
  font-family: Dashicons;
  display: inline;
  font-size: 1.8em;
  left: 4px;
  top: 1px;
  position: absolute;
}

.media-group-by-parent .attachment .media-group-label.is-postgallery-image::before {
  content: "\f233 ";
}

.media-group-by-parent .attachment .media-group-label.is-post-thumbnail::before {
  content: "\f128 ";
}

#customize-control-postgallery_sliderOwlConfig-control,
#customize-control-postgallery_masonry-control {
  margin-top: 3em;
  position: relative;
}

#customize-control-postgallery_imageAnimationCssAnimated-control {
  margin-bottom: 3em;
  position: relative;
}

#customize-control-postgallery_imageAnimationCssAnimated-control::before,
#customize-control-postgallery_sliderOwlConfig-control::before,
#customize-control-postgallery_masonry-control::before {
  content: '';
  display: block;
  position: absolute;
  top: -1.5em;
  width: 100%;
  height: 1px;
  background-color: #bbb;
  left: 0;
}

#customize-control-postgallery_imageAnimationCssAnimated-control::before {
  top: auto;
  bottom: -1.5em;
}

.elementor-control-content .pg-image-container .sortable-pics input,
.elementor-control-content .pg-image-container .sortable-pics textarea {
  pointer-events: none;
}

.img-title .img-filename {
  background-color: transparent;
  position: relative;
  display: inline-block;
  font-size: inherit;
  border: 0;
  padding: 0;
  overflow: visible;
  width: calc(100% - 2px);
  padding: 2px 4px;
}

.img-title .img-filename:focus {
  background-color: #fff;
}

.img-title.changed {
  padding-right: 20px;
}

.save-rename-button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 23px;
  cursor: pointer;
  color: green;
  padding-right: 3px;
}

.img-title.changed .save-rename-button {
  display: block;
}